*{
margin: 0;
padding:0;
font-family:sans-serif;
}
.lead{
    top:0;
    height:450%;
    width:100%;
    background: rgb(255, 255, 255);
    background-position:relative;
    background-size:cover;
    position:absolute;
}
.form-box{
    width:380px;
    height:2480px;
    position:relative;
    margin: 6%  auto;
    background: transparent ;
    border:solid;
    border-color:#fff;
    padding:5 px;
 }
 .input-field{
    width:100%;
    padding:10px 0;
    margin:5px 0;
    border-left:0;
    border-right:0;
    border-top:0;
    border-bottom:1px solid #999;
    outline:none;
    background:transparent;
    text-color:red;
}
.submit-btn{

     width:85%;
     padding:10px 30px;
     margin:auto;
     cursor:pointer;
     display:block;
     background:linear-gradient(to right,#ff105f,#ff8506);
     border:0;
     outline:none;
     border-radius:30px;
}